<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <img src="assets/imgs/goose_classy2.png" alt="Logo" class="logo" />
      <img src="assets/imgs/goose_classy2_inverted.png" alt="Logo inverted" class="logo_inverted" />
      <div class="rules">
        <ion-button (click)="router.navigateByUrl('/home')">Home</ion-button>
      </div>
    </ion-toolbar>
  </ion-header>

<ion-content fullscreen>

  <!-- TABELLA DI GIOCO -->
  <div class="board-container">
    <div class="grid">
      <ng-container *ngFor="let row of board">
        <div
          *ngFor="let cell of row"
          class="cell"
          [class.filled]="cell"
          [attr.id]="'cell-' + cell">
          {{ cell || '' }}
          <!-- PEDINA -->
          <ng-container *ngFor="let player of players">
            <img *ngIf="player.position === (cell-1)"
                 [src]="getPawnImage(player.user_id)"
                 class="pawn"
                 alt="pedina">
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- DADO FLOATING -->
  <img src="assets/imgs/dice.png"
       alt="Lancia dado"
       class="floating-dice"
       (click)="rollDice()" />

  <!-- Pulsante scelta pedina -->
  <img src="assets/imgs/goose_musc.png"
      alt="Scegli pedina"
      class="floating-pawn"
      (click)="togglePawnSelector()" />

  <ion-card class="pawn-selector" *ngIf="showPawnSelector">
      <ion-card-content>
        <div class="pawn-options">
          <img *ngFor="let p of availablePawns"
              [src]="'assets/imgs/' + p"
              (click)="selectPawn(p)"
              class="pawn-option"
              [class.selected]="p === selectedPawn" />
        </div>
      </ion-card-content>
  </ion-card>


</ion-content>
</div>