<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button menu="home"></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content fullscreen>
  <div class="board-container">
    <div class="grid">
      <ng-container *ngFor="let row of board">
        <div
          *ngFor="let cell of row"
          class="cell"
          [style.background-color]="getCellGradientColor(cell)"
          [class.filled]="cell"
          [attr.id]="'cell-' + cell">
          {{ cell || '' }}
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>







