<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <img src="assets/imgs/goose_classy2.png" alt="Logo" class="logo" />
      <img src="assets/imgs/goose_classy2_inverted.png" alt="Logo inverted" class="logo_inverted" />
      <div class="rules">
        <ion-button (click)="onRules()">Regole</ion-button>
        <ion-button slot="end" (click)="onLogout()">Esci</ion-button>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>

    <!-- CONTENITORE RESPONSIVE -->
    <div class="main-content">
      <!-- TABELLA GIOCHI -->
      <div class="game-list full-height">
        <h3>Partite disponibili</h3>
        <ion-list *ngIf="availableGames.length > 0">
          <ion-item *ngFor="let game of availableGames">
            <ion-label>
              Creatore: {{ game.creator }} ({{ game.current_players }}/{{ game.max_players }})
            </ion-label>
            <ion-button
              size="small"
              color="success"
              (click)="joinGame(game.game_id)">
              Entra
            </ion-button>
          </ion-item>
        </ion-list>
        <ion-text color="medium" *ngIf="availableGames.length === 0">
          Nessuna partita disponibile al momento.
        </ion-text>
      </div>

      <!-- MIE PARTITE -->
      <div class="game-list full-height">
        <h3>Le mie partite in corso</h3>
        <ion-list *ngIf="myGames.length > 0">
          <ion-item *ngFor="let game of myGames">
            <ion-label>
              Partita: {{ game.current_players }}/{{ game.max_players }}<br />
              <small>ID: {{ game.game_id }}</small>
            </ion-label>

            <ion-button
              size="small"
              color="warning"
              (click)="resumeGame(game.game_id)">
              Riprendi
            </ion-button>
          </ion-item>
        </ion-list>
        <ion-text color="medium" *ngIf="myGames.length === 0">
          Nessuna partita in corso.
        </ion-text>
      </div>


      <!-- TABELLA DI GIOCO -->
      <div class="board-container full-height">
        <div class="grid">
          <ng-container *ngFor="let row of board">
            <div
              *ngFor="let cell of row"
              class="cell"
              [class.filled]="cell"
              [attr.id]="cell">
              {{ cell || '' }}
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- PULSANTE GIOCA -->
    <div class="play">
      <ion-button expand="block" (click)="settingsOpen = true">GIOCA</ion-button>
    </div>

    <!-- MODALE IMPOSTAZIONI -->
    <ion-modal
      [isOpen]="settingsOpen"
      (didDismiss)="settingsOpen = false"
      [canDismiss]="true"
      class="settings-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Impostazioni Partita</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-content class="ion-padding">
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Numero massimo di giocatori</ion-label>
              <ion-input type="number" [(ngModel)]="maxPlayers" placeholder="Default: 4" min="2" max="4"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Numero di caselle speciali</ion-label>
              <ion-input type="number" [(ngModel)]="numCells" placeholder="Default: 5"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Contro CPU</ion-label>
              <ion-toggle [(ngModel)]="vsCpu"></ion-toggle>
            </ion-item>
          </ion-list>

          <ion-button expand="block" shape="round" (click)="startGame()" class="ion-margin-top">
            CONFERMA
          </ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</div>
