<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <img src="assets/imgs/goose_classy2.png" alt="Logo" class="logo" />
      <img src="assets/imgs/goose_classy2_inverted.png" alt="Logo inverted" class="logo_inverted" />
      <div class="rules">
        <ion-button (click)="onRules()">Regole</ion-button>
      </div>
      <div class="settings">
       <ion-button class="settings" (click)="onRules()">Impostazioni</ion-button>
      </div>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content fullscreen>
  <div class="board-container">
    <div class="grid">
      <ng-container *ngFor="let row of board">
        <div
          *ngFor="let cell of row"
          class="cell"
          [class.filled]="cell"
          [attr.id]="cell">
          {{ cell || '' }}
        </div>
      </ng-container>
    </div>
  </div>
  
</ion-content>
<div class="play">
    <ion-button (click)="onRules()">Gioca</ion-button>


</div>







