<ion-content [fullscreen]="true" class="signup-content">
  <div class="board-frame">
    <img src="assets/imgs/Tree_light.jpg" class="board-bg" />

    <div class="signup-card">
      <div class="goose-row">
        <img src="assets/imgs/goose.jpg" class="goose goose-1" />
      </div>

      <h1 class="title">Registrazione</h1>

      <!-- FORM con binding -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label style="color:black" position="stacked">Username</ion-label>
                <ion-input style="color:black" type="text" placeholder="Username" formControlName="username" required>
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label style="color:black" position="stacked">Password</ion-label>
                <ion-input style="color:black" type="password" placeholder="Password" formControlName="password" required>
                </ion-input>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item>
                <ion-label style="color:black" position="stacked">Conferma Password</ion-label>
                <ion-input style="color:black" type="password" placeholder="Conferma Password" formControlName="confirmPassword" required>
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-button expand="block" type="submit" [disabled]="form.invalid || form.value.password !== form.value.confirmPassword">
          🎲 Entra nel Gioco!
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
