<ion-menu menuId="home" contentId="main-content" swipeGesture="false">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-button >Setting.</ion-button>
    <ion-button >Setting.</ion-button>
    <ion-button >Setting.</ion-button>
    <ion-button >Setting.</ion-button>

</ion-menu>
<!-- Il codice della sidebar è riportato sopra per usarla utilizzare nella pagina <ion-menu-button menu="id della sidebar che si vuole"> si possono fare varie sidebar con vari id a seconda della pagina -->
<div class="ion-page" id="main-content"></div>
  


