
<ion-header>
  <ion-toolbar> 
    <div class="home">
      <ion-button (click)="onHome()">Home</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="rules-layout">
    <!-- Colonna sinistra: Regole Generali -->
    <div class="rules-left">
      <ion-list class="special">
        <ion-list-header>
          <ion-label class="title">Regole Generali</ion-label>
        </ion-list-header>
      </ion-list>
        
      <ion-list class="Rules">
        <ion-item class="item">
          <ion-label>
            I giocatori tirano un dado e avanzano di tante caselle quanto il numero ottenuto.<br>
            Vince chi arriva esattamente alla casella 63.<br>
            Se un giocatore supera la casella 63, torna indietro di tante caselle quante eccede.
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <!-- Colonna destra: Caselle Speciali -->
    <div class="rules-right">
      <ion-list class="special">
        <ion-list-header>
          <ion-label>Caselle Speciali</ion-label>
        </ion-list-header>
      </ion-list>
      <div class="cards-column">
        <!-- Le tue ion-card già pronte, esempio: -->
        <ion-card class="card" [class.flipped]="isFlippedOca" (click)="isFlippedOca = !isFlippedOca">
          <div class="inner">
            <div class="back">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon name="paw-outline" slot="start"></ion-icon>
                  Casella Oca
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-icon name="paw-outline"></ion-icon>
                Il giocatore avanza di nuovo dello stesso numero di caselle.
                PROSSIMAMENTE....
              </ion-card-content>
            </div>
            <div class="front">
              <img src="/assets/imgs/goose_german.png" alt="OcaGermanica" style="width: 50%;">
            </div>
          </div>
        </ion-card>

<ion-card class="card" [class.flipped] = "isFlippedLocanda" (click) = "isFlippedLocanda = !isFlippedLocanda">
  <div class = "inner">
    <div class = "back">
      <ion-card-header>
        <ion-card-title>Casella Locanda</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       <ion-icon name="bed-outline"></ion-icon>
         Il giocatore salta un turno.
      </ion-card-content>
    </div>
    <div class = "front">
      <img src = "/assets/imgs/locanda.png" alt = "Locanda" style = "width: 100%;">
    </div>
  </div>
</ion-card>  

<ion-card class="card" [class.flipped] = "isFlippedPrigione" (click) = "isFlippedPrigione = !isFlippedPrigione">  
  <div class = "inner">
    <div class = "back">  
     <ion-card-header>
        <ion-card-title>Casella Prigione</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="lock-closed-outline"></ion-icon>
        Il giocatore salta due turni.
        PROSSIMAMENTE....
    </ion-card-content>
  </div>
    <div class = "front">
      <img src = "/assets/imgs/prison.png" alt = "Prison" style = "width: 85%;">
    </div>
  </div>
</ion-card>    

  <ion-card class="card" [class.flipped] = "isFlippedMorte" (click) = "isFlippedMorte = !isFlippedMorte">  
    <div class = "inner">
      <div class = "back">
      <ion-card-header>
        <ion-card-title>Casella Morte</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="skull-outline"></ion-icon>
        Il giocatore torna all'inizio.
        PROSSIMAMENTE....
      </ion-card-content>
  </div>
    <div class = "front">
      <img src ="/assets/imgs/death.png" alt = "Death" style = "width: 70%;">
    </div>
  </div>
  </ion-card>

  <ion-card class="card" [class.flipped] = "isFlippedCacciatore" (click) = "isFlippedCacciatore = !isFlippedCacciatore">  
    <div class = "inner">
      <div class = "back">
      <ion-card-header>
        <ion-card-title>Casella Cacciatore</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="skull-outline"></ion-icon>
        Il giocatore torna indietro di un numero di caselle casuali.
      </ion-card-content>
  </div>
    <div class = "front">
      <img src ="/assets/imgs/hunter.png" alt = "Death" style = "width: 70%;">
    </div>
  </div>
  </ion-card>
      </div>
    </div>
  </div>
  <!--<button expand="block" color="secondary" (click)="onHome()">Torna alla Home</button>-->
</ion-content>




